/* COLOR PALETTE *
--primary-color
--secondary-color
--background-color
--text-color
--header-color
--navbar-color
--navbar-button-color
--button-color
--button-hover-color
--hyperlink-color
*/

body {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: auto scroll;
    margin: 0;
    font-family: var(--font);
}
h1 {
    color: var(--header-color);
}
a {
    color: var(--hyperlink-color);
    margin: 5px;
    text-decoration: none;
    font-size: larger;
}
p {
    margin-left: 10px;
    margin-right: 10px;
}
img {
    border: transparent;
    border-radius: 0.7rem;
    padding: 5px;
    max-width: 32%;
    height: auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.5);
}

.center {
    text-align: center;
    text-align: -webkit-center;
}
